* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    background-color: #04131B;
}

#temporizador {
    color: black;
    font-size: 100px;
    height: 2em;
    margin: auto;
}

#cronometro {
    padding-top: 10px;
    color: black;
    text-align: center
}

#temporizador:active {
    transform: scale(0.97);
    transition: transform .2s;
}

#game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 2000px;
    /* perspectiva do usuario no eixo z, quanto maior, maior o efeito da perspectiva */
}

.card {
    height: calc( 33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    /* adiciona perspectiva 3d, para que o elemento nao fique achatada no plano */
    transition: transform .9s;
    /* adiciona efeito de movimento ao flip do card */
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background: #929b9a;
    backface-visibility: hidden;
    /* todo elemento tem uma frente e um verso (ao contrario, como um espelho.) essa propriedade retira o verso */
}

.card-front,
.flip {
    transform: rotateY(180deg);
    transition: transform .2s;
}

#footer {
    width: 100%;
    height: 10rem;
    position: fixed;
    padding-top: 1em;
    color: rgb(17, 16, 16);
    font-size: 39px;
    text-align: center;
}

#footer:active {
    transform: scale(0.97);
    transition: transform .2s;
}

@media (max-width: 800px) {
    #game {
        height: 22rem;
        width: 22rem;
    }
    #footer {
        font-size: 25px;
    }
}